<html>
<head>
    <title>ChatBot Interface</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="sidebar">
            <h2>Menú <i class="fas fa-times"></i></h2>
            <a class="btn" href="#">Início</a>
            <a class="btn" href="#">Estadísticas</a>
            <a class="btn" href="#">Cámaras</a>
            <a class="btn" href="#">ChatBot</a>
            <a class="btn" href="#">Acerca de</a>
        </div>
        <div class="main-content">
            <div class="header-background"></div>
            <div class="header">
                <div></div>
                <div class="user">
                    Usuario <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="chat-container"> 
                <div class="chat-message">
                    <i class="fas fa-user"></i>
                    <div class="message-content">
                        <strong>ApiBot</strong><br>
                        Hola!!, soy ApiBot, preguntame lo que quieras sobre Apicultura
                    </div>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Escribe aquí">
                <i class="fas fa-paperclip"></i>
                <button class="send-button"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
    </div>
</body>
</html>
